* {
 font-family: Arial;
}

.physical-button-arrow {
  display: block;
}

.physical-button {
  width: 70px;
  margin: 8px;
}

#mango {
  width: 90px;
  transition: transform .3s ease-in-out;
}

#main-screen {
  position: absolute;
  width: 3.1cm;
  height: 3.1cm;
	top: calc(50% - (3.1cm / 2));
  background: #d1e1ff;
  margin: auto;
  left: 0;
  right: 0;
}

.separator {
  position: relative;
  float: left;
  height: 420px;
  width: 300px;
  margin: 0;
}

.separator-side {
	width: 200px;
}

.main-screen-slide {
	width: 50%;
	position: absolute;
	top: 20%;
	margin: auto;
	left: 0;
  right: 0;
	display: none;
}

.main-screen-slide-subtitle {
	position: absolute;
	bottom: 10px;
	margin: auto;
	left: 0;
  right: 0;
	display: none;
}

.navigation-arrow {
	display:inline-block;
	width:20px;
	position: absolute;
	bottom: 10px;
}

.global-menu {
	display: none;
}