* {
 font-family: Arial, Helvetica, sans-serif;
 color: #d1d5e2;
}

.physical-button-arrow {
  display: block;
}

.physical-button {
  width: 45px;
  margin: 8px;
}

#mango {
  width: 65px;
  transition: transform .3s ease-in-out;
}

#mango-dots {
  width:65px;
  margin:8px;
  position:absolute;
  left:0;
}

#main-screen {
  position: absolute;
  width: 3.1cm;
  height: 3.1cm;
  top: calc(50% - (3.1cm / 2));
  background: linear-gradient(to bottom right, #5a6587, #2f3856);
  margin: auto;
  left: 0;
  right: 0;
  border-style: solid;
  border-width: 2px;
  border-color: #b07fdf;
  border-radius:15px;
}

.separator {
  position: relative;
  float: left;
  height: 380px;
  width: 300px;
  margin: 0;
}

.separator-background{
  background-image: url('../img/watch.png');
  background-size: 435px 300px;
  background-repeat: no-repeat;
  background-position: 48% 52%;
  z-index: 100;
}

.separator-side {
  width: 200px;
}

.main-screen-slide {
  width: 40%;
  top: 25%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  z-index:2;
  /*****************************/


  transition: .5s ease-in-out;


}

.main-screen-slide-side-left {
  width: 18%;
  top: 27%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 72px;
  opacity: 0.45;


  transition: .5s ease-in-out;
}

.main-screen-slide-side-right {
  width: 18%;
  top: 27%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: absolute;
  margin: auto;
  left: 72px;
  right: 0;
  opacity: 0.45;


  transition: .5s ease-in-out;
}

.slide {
  display: none;
}

.main-screen-slide-subtitle {
  font-size: 22px;
  position: absolute;
  bottom: 6px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
}

.navigation-arrow {
  display:inline-block;
  width:20px;
  position: absolute;
  bottom: 10px;
  z-index: 10;
}

.global-menu {
  display: none;
}

#main-menu-clock {
  font-size: 22px;
}

#lock-clock {
  font-size: 22px;
}

.last-word {
  color:green;
  right: 6px;
  position:absolute;
  font-weight: bold;
}

.menu-alert-gen-slide-image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  filter: brightness(70%) blur(1px);
  z-index: 0;
  border-radius:15px;
}

#menu-alert-tab-container {
  position: absolute;
  bottom: 0;
  width:100%;
  height:15%;
}

.button {
  color: white;
  background-color: #252f48;
  border-radius: 2px;
}

.alert-notif-button {
  margin: 7px 40px;
  padding: 3px 0;
  font-size: 9pt;
  width:30%;
}

.alert-button { 
  margin: 5px 0;
  padding: 7px 0;
  font-size: 12pt;
  width:80%;
}

.menu-alert-tab {
  background-color: blue;
  display: inline-block;
  height: 100%;
  width: 29%;
  font-size: 12pt;
  line-height: 24px;
}

.menu-alert-tab-selected {
  background-color: red;
}

.alert-checkbox {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: calc(50% - 20px);
  height: 50px;
  width: 50px;
  background-color: #252f48;
  z-index: 5;
  transition: .5s ease-in-out;
  opacity: .75;
  border: 2px solid #e376bd;
  border-radius: 5px;
}

.alert-checkbox:after {
  color: #d3d3d3;
  font-size: 11pt;
  content: "add alert";
}

.alert-checkbox-ticked {
  background-color: #79f644;
  border: 2px solid white;
}

.alert-checkbox-ticked:after {
  color: #424242;
  font-size: 11pt;
  content: "alert active";
}

.navigation-arrow-alert {
  display:inline-block;
  width:20px;
  position: absolute;
  bottom: 25%;
  opacity: 1;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px; 
}

.navigation-arrow-alert-vertical {
  display:inline-block;
  width:10px;
  position: absolute;
  opacity: 1;
  z-index: 10;
  left:0;
  right:0;
  margin:auto;
  transform:rotate(90deg);
}

.menu-alert-gen-slide-subtitle {
  color: white;
  font-size: 14pt;
  position: absolute;
  bottom: 0px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
  height: 24px;
  white-space:nowrap;
  text-shadow: 0px 0px 4px black;
}

.menu-alert-gen-level-subtitle {
  color: white;
  font-size: 11pt;
  position: absolute;
  top: 7px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
  /*height: 24px;*/
  white-space:nowrap;
  text-shadow: 0px 0px 4px black;
}

.menu-alert-hour-level-subtitle {
  font-size: 10pt;
  position: absolute;
  top: 3px;
  margin: auto;
  left: 0;
  right: 0;
  display: none;
  z-index: 5;
  height: 24px;
  white-space:nowrap;
}

.menu-alert-hour-slide-subtitle {
  font-size: 10pt;
  position: absolute;
  top: 19px;
  margin: auto;
  left: 4px;
  right: 14px;
  display: none;
  z-index: 5;
  height: 24px;
  white-space:nowrap;
  text-align: left;
}

.nav-arrow-alert-hour {
  display:inline-block;
  width:14px;
  position: absolute;
  opacity: 1;
  z-index: 10;
  top: 2px;
  padding-top: 2px;
}

.menu-alert-hour-list-entry {
  /*color: white;*/
  background-color: #252f48;
  border-radius: 2px;
  margin: 2px;
  padding: 1px 3px; 
  font-size: 8pt;
  transition: 0.2s;
}

.menu-alert-hour-art-name{
  color: white;
}

.menu-alert-hour-art-name > marquee {
  color: white;
}

.alert-entry-selected {
  color: black;
  background-color: pink;
}

.alert-entry-error {
  color: white;
  background-color: red;
}

.alert-entry-selected > .menu-alert-hour-art-name {
  color: black;
}

#menu-alert-hour-progress {
  position: absolute;
  height: 85px;
  width: 6px;
  top: 21px;
  margin: auto;
  left: calc(100% - 12px);
  right: 4px;
  background-color: #545f81;
  border-radius:5px;
}

#menu-alert-hour-progress-bar {
  position: absolute;
  width: 6px;
  margin: auto;
  left: calc(100% - 12px);
  right: 4px;
  height: 10px;
  top: 46px;
  background-color: #e376bd;
  z-index:2;
  border-radius:2px;
}

.menu-wc-main-subtitle {
  font-size: 13.2px;
  text-align: center;
  margin-top: 2%;
}

.menu-wc-main-button {
  color: white;
  width: 100%;
  height: 23px;
  border: 1px solid #5a6587;
  margin:20px;
}

.menu-wc-reservar-aut{
  font-size: 13px;
  text-align: center;
  height: 58px;
}

.aut-1{
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.aut-2{
  margin-top:1%;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.menu-wc-map-slide{
  background-image: url('../img/menu-wc/BabyMap1.png');
  position: absolute;
  width: 3.1cm;
  height: 3.1cm;
  border-radius: 15px;

}

.menu-wc-map-subtitle{
  font-size: 11px;
  position: absolute;
  top: 2.75cm;
  left: 0.2cm;
  color: #2f3856;
}

.wc-button{
  margin-top:5%;
  font-size: 13px;
  width:80%;
}

.wc-aut-button{
  width: 80%;
  font-size: 12px;
  text-align: center;
  margin: 10%;
  margin-left: 12px;
  height: 40px;
  vertical-align: middle;
  line-height: 40px;
}

.menu-wc-map-button{
  position: absolute;
  top: 2.6cm;
  font-size: 10px;
  border-bottom-right-radius: 15px;
  right: 0px;
  width: 50%;
  height: 20px;
}
.menu-meteo-curr-loc {
  font-size: 14pt;
  position: absolute;
  top: 2%;
  margin: auto;
  left: 0;
  right: 0;
  z-index: 5;
  height: 24px;
  white-space:nowrap;
}

.menu-meteo-curr-image {
  position: absolute;
  margin: auto;
  left: 5%;
  top: calc(50% - 30px);
  height: 40px;
  width: 40px;
}

.menu-meteo-curr-temp {
  font-size: 20pt;
  position: absolute;
  margin: auto;
  right: 24%;
  top: 23%;
  vertical-align: middle;
  height: 40px;
  width: 40px;
}

.menu-meteo-minmax {
  font-size: 8pt;
  position: absolute;
  margin: 0;
  text-align: center;
}

.menu-meteo-bottom {
  position: absolute;
  margin: auto;
  width: 100%;
  top: 75%;
}

.menu-meteo-bott-image {
  position: absolute;
  margin: auto;
  height: 20px;
  width: 20px;
}
